.advantage {
  text-align: center;
  margin-bottom: 30px;
  
  &__img-hold {
  
  }
  
  &__headline {
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    color: #161616;
    margin: 15px 0 33px;
    
    &:after {
      content: "";
      width: 80px;
      height: 3px;
      background: linear-gradient(90deg, #002073 0%, #1093CF 16.86%, #128A30 37.39%, #EBD421 59.05%, #E27003 79.71%, #B60200 100%);
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      overflow: hidden;
      display: block;
    }
  }
  
  &__description {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}