.article-container {
  padding: 0 15px;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  box-sizing: content-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
  overflow: hidden;

  &--products {
    max-width: 960px;
  }

  p, ul, ol, h2, h3, h4, h5, h5 {
    font-family: 'Noto Sans KR', sans-serif;
  }

  h4, h5, h5 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    margin: 40px 0;
    color: #444;

    @media (min-width: 768px) {
      margin: 0 0 45px 0;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    margin: 30px 0;
    color: #444;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 44px;
      margin: 40px 0;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin: 25px 0;
    color: #444;

    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 28px;
      margin: 35px 0;
    }
  }

  p, ul, ol {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding: 0;
    margin: 40px 0;

    @media (min-width: 768px) {
      margin: 0 0 45px 0;
    }
  }

  ul, li {
    list-style-position: inside;
  }

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 11px;
    display: flex;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 14px;
      background: #ED8125;
      flex: none;
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  ol {
    margin-left: 30px;
    li {
      display: revert;
      list-style: inherit;
      list-style-position: outside;
      &:before {
        content: "";
        display: none;
      }

      ol {
        margin-left: 30px;
        margin-top: 10px;
        li {
          list-style: lower-alpha;
        }
      }
    }
  }

  a {
    color: #2196F3;
    text-decoration: underline;
    word-break: break-all;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .img-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .aligncenter {
    margin: 0 auto;
    display: block;
  }

  .alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }

  .image-left-halfwidth {
    width: 100% !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;

    @media (min-width: 450px) {
      width: calc(50% - 10px) !important;
    }

    img {
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;;
    }
  }

  .image-right-halfwidth {
    width: 100% !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;

    @media (min-width: 450px) {
      width: calc(50% - 10px) !important;
      margin: 0 0 40px 0;
    }

    img {
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;
    }
  }

  .image-left-halfwidth {
    margin-right: 0;
    float: left;

    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }

  .image-right-halfwidth {
    margin-left: 0;
    float: right;

    @media (min-width: 768px) {
      margin-left: 10px;
    }
  }

  .not-required {
    display: block;
    background: rgba(0, 105, 231, 0.2);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2B6EA8;
    padding: 16px 13px;
    text-transform: uppercase;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-left: 3px solid #2B6EA8;
  }

  .wp-caption {
    max-width: 290px !important;

    @media (min-width: 768px) {
      max-width: inherit !important;
    }
  }

  .wp-caption-text {
    font-size: 15px;
    line-height: 27px;
    color: #8d8d8d;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  i {
    color: #8d8d8d;
  }
}

.figure-full-width {
  width: 100%;
  padding: 0 15px;

  img {
    width: 100%;
  }

  figcaption {
    margin-top: 10px;
    color: #8d8d8d;
    font-size: 15px;
    line-height: 27px;
  }
}

.p-full-width {
  width: 100%;
}


//Software page
.software-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;

  @media (min-width: 500px) {
    flex-direction: row;
  }

  a {
    display: block;
    width: 100%;
    position: relative;

    @media (min-width: 500px) {
      width: 33.3%;
    }

    &:hover {
      img {
        transform: scale(1.01);
      }
    }
  }

  img {
    display: block;
    width: 100%;
    transition: 0.3s;
  }

  span {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
  }
}

//Partners page
.partners {
  background: url(../images/map.png) no-repeat;
  background-position: 50% 110px;
  background-attachment: fixed;

  @media (min-width: 768px) {
    background-position: 50% 145px;
  }

  &__list {
    margin-top: 20px !important;

    li {
      &:before {
        width: 4px;
        height: 4px;
      }
    }

    li:nth-child(n+11) {
      display: none;
    }

    &.active {
      li:nth-child(n+11) {
        display: flex;
      }
    }
  }
}

//Contact page
.contact {

  p {
    margin: 0 0 30px 0;
  }

  &__headline {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__links {
    a {
      text-decoration: none;
      color: #444;

      &:first-child {
        font-size: 24px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__text {
    font-size: 12px !important;
    line-height: 17px !important;
    color: #8d8d8d;
  }

  &__fb {
    max-width: 522px;
    margin: 70px auto 70px auto;

    @media (min-width: 768px) {
      margin: 60px auto 60px auto;
    }
  }

  .embed-responsive {
    &:before {
      padding-top: 0;
      height: 400px;

      @media (min-width: 768px) {
        padding-top: 36%;
        height: auto;
      }
    }
  }

  .google-form {
    margin: 0 -4%;
    @media (min-width: 768px) {
      margin: 0;
    }

    iframe {
      border: none;
      width: 100%;
      height: 1850px;
    }
  }
}

//Demonstation video
.video-demo {

  strong {
    margin-bottom: 10px;
    display: inline-block;
  }

  .embed-responsive {
    margin-bottom: 40px;
  }
}

