.btn {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  background: #F04438;
  color: #fff;
  border: 1px solid #F04438;
  font-size: 16px;
  line-height: 20px;
  padding: 14px .75rem;
  min-width: 160px;
  border-radius: 8px;
  transition: all 0.3s;

  &:hover {
    background: #F04438;
    opacity: 0.8;
    color: #fff;
  }
}