.fda {
  background: url("../images/blue-bg-mob.jpg") no-repeat  100% 100%;
  position: relative;
  background-size: cover;
  padding: 80px 0 80px 0;

  @media (min-width: 768px) {
    background: url("../images/blue-bg.jpg") no-repeat  100% 100%;
    background-size: cover;
  }

  &__video {
    border-radius: 10px;
    overflow: hidden;
  }

  &__text {
    color: #fff;

    h3 {
      font-weight: 300;
      font-size: 32px;
      line-height: 44px;
      margin: 40px 0 40px 0;

      @media (min-width: 768px) {
        margin: 0 0 40px 0;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 1rem;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .btn {
      display: block;
      margin: 30px auto 0 auto;

      @media (min-width: 768px) {
        margin: 30px 0 0 0;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}