.home-carousel {
  margin: 40px 0;
  position: relative;
  min-height: 627px;
  
  @media (min-width: 768px) {
    margin: 80px 0;
    min-height: 694px;
  }

  &:not(.slick-initialized) {
    display: none;
  }
  
  .slick-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .slick-dots {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    list-style: none;
    outline: none;
    max-width: 1140px;

    li {
      padding: 10px 0 10px 30px;
      margin: 20px 0 0 0;
      max-width: 540px;
      position: relative;
      border-left: 3px solid #c4c4c4;
      cursor: pointer;
  
      @media (min-width: 768px) {
        padding: 10px 0 10px 33px;
      }
      
      &:first-child {
        margin: 0;
      }
  
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -3px;
        width: 3px;
        overflow: hidden;
        background: linear-gradient(0deg, #002073 0%, #1093CF 16.86%, #128A30 37.39%, #EBD421 59.05%, #E27003 79.71%, #B60200 100%);
       
      }
      
      &.slick-active {
        .home-carousel__content {
          animation: sliderHeight;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        
        &:before {
          content: "";
          animation: gradientHeight;
          animation-duration: 5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  .slick-track {
    height: 100%;
  }

  .slick-slide {
    height: 100%;
  }

  img {
    float: right;
    height: 100%;
  }
  
  &__pager-item {
    display: none;
  }

  .slick-slide {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background: #FAFAFA;
      opacity: 0.7;

      @media (min-width: 768px) {
        width: 74%;
        background: linear-gradient(90deg, #FAFAFA 56.9%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
      }
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #161616;
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    color: #737373;
    margin: 20px 0 10px 0;

    a {
      color: #ed8125;
      outline: none;
    }
  }

  &__learn-more {
    color: #ed8125;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__heading {
    display: none;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px 40px 15px;
    max-width: 1140px;
    position: relative;
    font-weight: 300;
  
    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 44px;
      padding: 80px 15px 40px 15px;
    }
  }
}

@keyframes sliderHeight {
  0%   { max-height: 0; }
  100% { max-height: 500px; }
}

@keyframes gradientHeight {
  0%   { height: 0; }
  100% { height: 100%; }
}
