.home-banner {
  margin: -70px 0 0 0;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    height: 580px;
    display: block;
  }

  &__container {
    position: static;
    transform: translateX(0);
    padding: 90px 0 0 0;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      left: calc(50% + 15px);
      transform: translateX(-50%);
      padding: 120px 0 0 0;
    }
  }

  &__picture-tag {
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 0 45px;
    margin: -70px 0 0 0;

    @media (min-width: 768px) {
      padding: 0;
      margin: 0;
    }
  }

  &__img {
    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }

    @media (min-width: 1200px) {
      object-position: center;
    }
  }

  &__heading {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
    font-weight: 300;
    padding: 0 15px;

    @media (min-width: 768px) {
      font-size: 40px;
      padding: 0;
    }

    @media (min-width: 960px) {
      font-size: 58px;
      line-height: 79px;
    }

  }

  &__description {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 29px;
      width: 80%;
      margin-bottom: 30px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      padding: 0;
    }
  }

  &__btn {
    margin: 0 15px;
    min-width: 172px;

    @media (min-width: 768px) {
      margin: 0;
      min-width: inherit;
    }
  }
}
