//Base
@import "base/base";
@import "base/variables";
@import "base/mixins";

//Layout
@import "layout/header";
@import "layout/footer";

//Components
@import "components/_home-banner";
@import "components/_offers";
@import "components/_buttons";
@import "components/_fda";
@import "components/_applications";
@import "components/_article";
@import "components/_headline";
@import "components/_product";

.test {
  background: url(../images/map.png) no-repeat;
  background-position: 50% 110px;
  background-attachment: fixed;

  @media (min-width: 768px) {
    background-position: 50% 145px;
  }
}

